/*  CSS Style Sheet created by the Go Git'ers on 1/24/23

Color Palette Used 
------------------>>>
Brown Sugar #9E6240
Tumbleweed #DEA47E
Vermillion #CD4631 
Eggshell #F8F2DC  
Air Superiorty Blue #81ADC8  */

html {
  background: url(pexels-photo-3556117.jpeg) no-repeat center center fixed #DEA47E;
  background-size: cover;
  height: auto;
  padding: 10px;
  width: auto;
}



body {
  height: 100%;
  min-width: 400px;
  font-family: "IBM Plex Mono", monospace;
  margin: 32px;
}

header {
  word-wrap: break-word;
  margin: 10px;
}

h4 {
  color:#F8F2DC;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

#total-calories {
  display: inline-block;
  margin-left: 10px;
  color:#F8F2DC;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.exerciseoutput.content {
margin-bottom: 300px;
}

.button.is-primary {
  background-color: #cd4631;
}

h1 {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #81adc8;
  color: #F8F2DC;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

h2 {
  color: #cd4631;
  font-size: larger;
  font-weight: bolder;
  font-family: "IBM Plex Mono", monospace;
}

#exercise-6 > p:nth-child(3),
#exercise-6 > p:nth-child(4){
  color:#cd4631;
}

p {
  color: #F8F2DC;
  font-size: small;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
}

.currentDay {
  color: #9e6240;
  font-weight: bolder;
  text-align: right;
}


