/*  CSS Style Sheet created by the Go Git'ers on 1/24/23

Color Palette Used 
------------------>>>
Brown Sugar #9E6240
Tumbleweed #DEA47E
Vermillion #CD4631 
Eggshell #F8F2DC  
Air Superiorty Blue #81ADC8  */

body {
  background-color: #f8f2dc;
  min-width: ;
}

.button.is-primary {
  background-color: #cd4631;
}

footer {
  background-color: #81adc8;
  color: #cd4631;
}
